.online-support {
  background-color: #ed1c35;
  border: none;
  border-radius: 50%;
  padding: 13px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  transition: 300ms;
  &:active .online-support-card{
    display: none;
  }
  div {
    div {
      width: 24px;
      height: 24px;
      img {
        color: #fff;
        width: inherit;
        height: inherit;
      }
    }
  }
}
